In [ ]:
# List
# Que 1. List and its default function

In [4]:
lst = ["shashank", 27, 12, 1997]

In [5]:
print(lst)

['shashank', 27, 12, 1997]

In [ ]:
#1. append

In [6]:
lst = ["shashank", 27, 12, 1997] 
lst.append("mohokar")

In [7]:
print(lst)

['shashank', 27, 12, 1997, 'mohokar']

In [ ]:
#2. len

In [10]:
lst = ["shashank", 27, 12, 1997]
print(len(lst))

4

In [ ]:
#3. pop

In [11]:
lst = ["shashank", 27, 12, 1997] 
lst.pop(0) 
print(lst)

[27, 12, 1997]

In [ ]:
#4. insert

In [12]:
lst = ["shashank", 27, 12, 1997] 
lst.insert(1, "shekhar") 
print(lst)

['shashank', 'shekhar', 27, 12, 1997]

In [ ]:
#5. max

In [13]:
lst = [27, 12, 1997] 
print(max(lst))

1997

In [ ]:
#6. min

In [14]:
lst = [27, 12, 1997] 
print(min(lst))

12

In [ ]:
#7. extend

In [15]:
lst1 = ["shashank", 27, 12, 1997]
lst2 = ["shekhar", 13, 10, 1995]
lst1.extend(lst2)
print(lst1)

['shashank', 27, 12, 1997, 'shekhar', 13, 10, 1995]

In [ ]:
# Dictionary
# Que 2. Dictionary and its default function.

In [17]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(dict)

{'Name': 'shashank', 'Age': 23, 'Class': 'bca'}

In [ ]:
#1. len

In [18]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(len(dict))

3

In [ ]:
#2. str(dict)

In [19]:
dict =  {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(str(dict))

{'Name': 'shashank', 'Age': 23, 'Class': 'bca'}

In [ ]:
#3. type

In [20]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(type(dict))

<class 'dict'>

In [ ]:
#4. any

In [21]:
dict ={"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(any(dict))

True

In [ ]:
#5. all

In [22]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(all(dict))

True

In [ ]:
#6. sorted

In [24]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(sorted(dict))

['Age', 'Class', 'Name']

In [ ]:
#7. get

In [25]:
dict = {"Name" : "shashank", "Age" : 23, "Class" : "bca"} 
print(dict.get("Name"))

shashank

In [ ]:
# Sets
# Que 3. Sets and its default function.

In [27]:
st = {"shashank", "shekhar", 27, 12, 1998} 
print(st)

{'shashank', 12, 'shekhar', 1998, 27}

In [ ]:
#1. intersection

In [28]:
st1 = {"shashank", "shekhar", 27, 12, 1997} 
st2 = {27, 12, 1997, "Radha", "Kale"} 
print(st1.intersection(st2))

{27, 12, 1997}

In [ ]:
#2. issubset

In [29]:
st1 = {"shashank", "shekhar", 27, 12, 1997} 
st2 = {"shashank", 1997}
print(st1.issubset(st2))

False

In [ ]:
#3. Union

In [30]:
st1 = {"shashank", 27, 12, 1997} 
st2 = {"shekhar", 13, 11, 1995}
print(st1.union(st2))

{'shashank', 11, 12, 1997, 13, 'shekhar', 1995, 27}

In [ ]:
#4. remove

In [31]:
st = {"shashank", 27, 12, 1997} 
st.remove("shashank") 
print(st)

{27, 12, 1997}

In [ ]:
#5. update

In [32]:
st1 = {"shashank", 27, 12, 1997} 
st2 = {"shekhar", 1}
st1.update(st2) 
print(st1)

{1, 'shekhar', 'shashank', 27, 12, 1997}

In [ ]:
# Tuple
# Que 4. Tuple and explore its default method.

In [33]:
tup = ("shashank", "shekhar", 27, 12, 1997) 
print(tup)

('shashank', 'shekhar', 27, 12, 1997)

In [ ]:
#1. count

In [34]:
tup = ("shashank", "shekhar", "shashank", 27, 12, 1997) 
print(tup.count("shashank"))

2

In [ ]:
#2. index

In [35]:
tup = ("shashank", "shekhar", 27, 12, 1997)
print(tup.index(27))

2

In [ ]:
#3. len

In [36]:
tup = ("shashank", 27, 12, 1997) 
print(len(tup))

4

In [ ]:
#4. max

In [37]:
tup = (11, 27, 12, 1997) 
print(max(tup))

1997

In [ ]:
#5. min

In [38]:
tup = (11, 27, 12, 1997) 
print(min(tup))

11

In [ ]:
# String
# Que 5. String and explore its default method.

In [40]:
str = "hello, i am Shashank" 
print(str)

hello, i am Shashank

In [ ]:
#1. Capitalize

In [41]:
str = "hello, i am Shashank" 
print(str.capitalize())

Hello, i am shashank

In [ ]:
#2. Index

In [42]:
str = "hello, i am shashank" 
print(str.index("shashank"))

12

In [ ]:
#3. lower

In [43]:
str = "Hello, I am SHASHANK" 
print(str.lower())

hello, i am shashank

In [ ]:
#4. title

In [44]:
str = "hello, i am shashank" 
print(str.title())

Hello, I Am Shashank

In [ ]:
#5. center

In [45]:
str = "hello, i am shashank" 
print(str.center(40))

          hello, i am shashank